%well {
  width: 90%;
  text-align: center;
  a{
    float: none;
    display: inline-block;
    margin: 25%;
    // padding: 25%;
  }
}

header {
  text-align: center;
  font-size: 64px;
}

a {
  display: inline-block;
  text-align: center;
  font-size: 28px;
  margin: auto;
}

.table {
  margin-left: 10%;
  margin-right: auto;
}
